:root {
  --color-purple: rgb(108, 91, 212);
  --color-purple-opacity-3: rgba(108, 91, 212, .3);
  --color-orange: rgb(255, 96, 0);
  --color-grey-dark: rgb(36, 36, 36);
  --color-grey-darker: rgb(46, 47, 43);
  --color-white: rgb(255, 255, 255);
  --color-white-opacity-2: rgba(255, 255, 255, .2);
  --color-white-opacity-4: rgba(255, 255, 255, .4);
  --color-white-opacity-85: rgba(255, 255, 255, .85);
  --color-black: rgb(0, 0, 0);
  --color-black-opacity-25: rgba(0, 0, 0, .25);
  --color-bg-grey: rgba(128, 128, 128, .1);
  --color-bg-grey-icon: rgba(94, 94, 94, .18);
  --color-grey-opacity-2: rgba(128, 128, 128, .2);
  --color-grey-opacity-3: rgba(128, 128, 128, .3);
  --border-radius: 3.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: url(https://images.unsplash.com/photo-1536318648487-eb1d1c99f407?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  color: var(--color-white);
  overflow: auto;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 140rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  padding: 5rem 3rem;

  @media (max-width: 540px) {
    padding: 3rem 1rem;
  }
}

.nav {
  border-radius: var(--border-radius);
  backdrop-filter: blur(10px);
  background-color: var(--color-grey-opacity-3);
  padding: 1.3rem;
  border: 1px solid var(--color-white-opacity-4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  &-group {
    display: flex;
    gap: 1.1rem;
    
    &__icon {
      background-color: var(--color-bg-grey-icon);
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      
      > svg {
        height: 3rem;
      }
    }
  }
}

.top-nav {
  gap: 1.2rem;
  width: 70%;  

  @media(max-width: 1000px) {
    width: 100%;
  }

  > .nav-group {
    @media (max-width: 600px) {
      display: none;
      justify-content: space-around;
    }
  }
}

.hamburger {
  display: none;

  @media (max-width: 600px) {
    display: inline-flex;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-white-opacity-85);
  max-width: 35rem;
  background-color: var(--color-black-opacity-25);
  padding: .8rem;
  width: 100%;
  border-radius: var(--border-radius);
  
  &__link {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: .6rem;
  }

  @media (max-width: 600px) {
    max-width: 46rem;
  }
}

.container {
  background-color: var(--color-bg-grey);
  border: 1px solid var(--color-white-opacity-4);
  border-radius: 35px;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;
  overflow: hidden;
  
  &__left, &__right {
    flex: 1;
  }
  
  &__left {
    background: url(https://img.freepik.com/free-photo/portrait-young-woman-practicing-facial-yoga-youth_23-2150520801.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--border-radius);
    border-right: 1px solid var(--color-white-opacity-4);
    
    &-logo {
      display: flex;
      align-items: center;
      padding: 2.6rem 2.1rem;
      gap: .8rem;
      
      > span {
        font-size: 1.7rem;
        font-weight: 600;
      }
    }
  }
  
  &__right {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 10rem repeat(2, 12.5rem) repeat(2, 18rem);
    gap: 9px;
    padding: .6rem;
    overflow: auto;
    scroll-behavior: smooth;

    @media (max-width: 1230px) {
      grid-template-rows: 10rem repeat(2, 12.5rem) repeat(3, 18rem);
    }

    @media (max-width: 900px) {
      grid-template-rows: 10rem repeat(2, 12.5rem) repeat(3, 18rem) 10rem;
    }
  }

  @media (max-width: 700px) {
    flex-direction: column;
  }
}

.grid-item {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-white-opacity-2);
  padding: 1.3rem;
  position: relative;
  
  &__1 {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &--left {
      display: flex;
      gap: 2.3rem;
      align-items: center;
      
      &-btn {
        border-radius: var(--border-radius);
        background-color: var(--color-orange);
        border: 1px solid var(--color-orange);
        height: 6rem;
        width: 4.8rem;
        
        > svg {
          color: var(--color-white);
          margin: 1.2rem .9rem;
          height: 2rem;
        }
      }
    }
  }
  
  &__2 {
    grid-column: 1 / -1;
    grid-row: 2 / 4;
    display: flex;
    position: relative;
    
    &--img {
      flex: 3;
      background-image: url(/image.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      @media (max-width: 540px) {
        margin-top: 4rem;
      }
    }
    
    &--info {
      flex: 1;
      max-width: 22rem;
      padding: 2rem 1.3rem;
      
      > h2 {
        font-size: 1.8rem;
      }
      
      > p {
        font-size: 1.4rem;
        margin: 1rem 0 2rem;
      }
      
      &-buttons {
        display: flex;
        gap: .5rem;
      }

      @media (max-width: 540px) {
        padding: 4rem 1.3rem 1rem;
      }
    }
  }
  
  &__3 {
    grid-row: 4 / 6;
    grid-column: 1 / 4;

    &-box-wrapper {
      display: flex;
      flex-direction: column;
      height: calc(100% - 12rem);
      justify-content: end;
      gap: 1.2rem;
      margin-bottom: 1.2rem;
    }

    &-box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--left {
        
        .top-header {
          font-weight: 400;
          font-size: 1.5rem;
          opacity: .8;

          > span {
            padding-left: 3rem;
            opacity: .4;
          }
        }

        > h2 {
          font-weight: 400;
          font-size: 3.5rem;
        }
      }

      &--right {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        padding: 1.3rem;
        border: 1px solid var(--color-grey-opacity-3);
      }
    }

    .percentage-box {
      width: 100%;
      border-radius: 6rem;
      background-color: var(--color-grey-darker);
      height: 8.6rem;
      position: relative;

      &::before {
        background-color: var(--color-purple);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 8.6rem;
        width: 70%;
        border-bottom-left-radius: 6rem;
        border-top-left-radius: 6rem;
      }

      .percentage {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 25%;
        text-align: center;

        h4, span {
          font-weight: 400;
        }

        h4 {
          font-size: 1.5rem;
          opacity: .4;
        }

        span {
          font-size: 2.6rem;
        }
      }
    }

    @media (max-width: 1230px) {
      grid-column: 1 / -1;
    }
  }
  
  &__4 {
    grid-column: 4 / -1;
    display: flex;
    flex-direction: column;
    
    &-container {
      display: flex;
      height: 100%;
      align-items: flex-end;
      gap: .9rem;
      
      > img {
        width: 15rem;
        height: 9rem;
        border-radius: var(--border-radius);
        padding-top: 0.5rem;
      }
      
      > div span {
        font-size: 1.5rem;
        white-space: nowrap;
      }
      
      > div h2 {
        font-size: 2rem;
      }
    }

    @media (max-width: 1230px) {
      grid-column: 1 / 4;
    }

    @media (max-width: 900px) {
      grid-column: 1 / -1;
    }
  }
  
  &__5 {
    grid-column: 4 / -1;
    background-color: var(--color-purple-opacity-3);
    backdrop-filter: blur(10px);
    padding: 1.7rem;
    font-size: 2rem;
    position: relative;
    
    .orange-btn {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      color: var(--color-white);
    }

    @media (max-width: 900px) {
      grid-column: 1 / -1;
    }
  }
  
  &__text-box {
    font-size: 1.2rem;
  }
}

.bottom-nav {
  width: 30%;
  justify-content: center;

  @media(max-width: 1000px) {
    width: 50%;
  }

  @media(max-width: 700px) {
    width: 90%;
  }
}

.btn-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 1rem;
  
  &__text {
    font-weight: 400;
    
    h3, p {
      font-size: 1.5rem;
    }
    
    h3 {
      font-weight: 600;
    }
    
    p {
      font-weight: 400;
      opacity: .5;
    }
  }
}

.purple-btn {
  background-color: var(--color-purple);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;  
  display: flex;
  align-items: center;
  justify-content: center;
  
  > svg {
    width: 2.5rem;
  }
}

.orange-btn {
  background-color: var(--color-orange);
  border: 1px solid var(--color-orange);
  color: var(--color-white);
}

.btn-regular {
  border-radius: 2.6rem;
  padding: 1.3rem 3.6rem;
}

.btn-round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  
  > svg {
    width: 2rem;
  }
}
  